<h1 id="new_post">New Post</h1>

<%= form_for [:admin, @post], html: {class: "ninja"} do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit 'Create Post', class: "btn success" %>

<% end -%>


